<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for AbstractFactory.PizzaStore.ruleset" Description="已通过项目“D:\Data\Training\讲课\VisualStudio2010\11OOAD\Publish\HeadFirstDesignPatternsInCSharp中文版\Code2010\AbstractFactory.PizzaStore\AbstractFactory.PizzaStore.csproj”中的“Debug (Any CPU)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1700" Action="Error" />
  </Rules>
</RuleSet>